<li>
  <p><%= comment.body %></p>
  <small>
    <%= t('views.common.created_by') %>:
    <%= comment.user.name.present? ? comment.user.name : comment.user.email %>
    ( <%= I18n.l comment.created_at, format: :long %> )
  </small>
  <% if current_user == comment.user %>
    <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), (comment.commentable.is_a?(Report) ? report_comment_path(comment.commentable, comment) : book_comment_path(comment.commentable, comment)), method: :delete, form: { data: { turbo_confirm: t('views.common.delete_confirm') } } %>
  <% end %>
</li>
