<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<%= render 'shared/comments', commentable: @report %>

<nav class="page-nav">
  <% if @report.editable?(current_user) %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <% if @report.editable?(current_user) %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>

  <% if @report.mentioned_reports.exists? %>
    <p><strong><%= t('views.reports.show.mentioned_reports') %></strong></p>
    <ul>
      <% @report.mentioned_reports.each do |mentioning_report| %>
        <li>
          <%= link_to mentioning_report.title, report_path(mentioning_report) %> 
          (<%= link_to mentioning_report.user.name_or_email, mentioning_report.user %>)
        </li>
      <% end %>
    </ul>
  <% end %>
</nav>
