<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<nav class="page-nav">
  <% if current_user == @report.user %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <br>
  <%= link_to t('views.common.back', name: Report.model_name.human.pluralize.downcase), reports_path %>
</nav>

<h2><%= t('views.common.title_index', name: Comment.model_name.human) %></h2>
<div class="show-item">
  <% if @report.comments.any? %>
    <ul>
      <% @report.comments.each do |comment| %>
        <li>
          <p><%= comment.body %></p>
          <small>
            <%= t('views.common.created_by') %>:
            <%= comment.user.name.present? ? comment.user.name : comment.user.email %>
            ( <%= I18n.l comment.created_at, format: :long %> )
          </small>
          <% if current_user == comment.user %>
            <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase),report_comment_path(@report, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>
        <br><br>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('views.common.no_create', name: Comment.model_name.human) %></p>
  <% end %>

  <% if @report.present? %>
    <h3><%= t('views.common.title_new', name: Comment.model_name.human) %></h3>
    <%= form_with(model: [ @report, @report.comments.build ], local: true) do |form| %>
      <div>
        <%= form.text_area :body, rows: 4 %>
      </div>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
  <% end %>
</div>
