<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<nav class="page-nav">
  <% if current_user == @report.user %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete, form: { data: { turbo_confirm: t('views.common.delete_confirm') } } %>
  <% end %>
  <br>
  <%= link_to t('views.common.back', name: Report.model_name.human.pluralize.downcase), reports_path %>
</nav>

<h2><%= t('views.common.title_index', name: Comment.model_name.human) %></h2>
<div class="show-item">
  <% if @report.comments.any? %>
    <ul>
      <% @report.comments.each do |comment| %>
        <%= render comment %>
        <br><br>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('views.common.no_create', name: Comment.model_name.human) %></p>
  <% end %>

  <% if @report.present? %>
    <%= render 'comments/form', commentable: @report %>
  <% end %>
</div>
